body {
  background:url('slika.jpg');

	font-family: 'Ubuntu', sans-serif;
	background-size: 100% 110%;
	padding-left:35%;
	padding-right:35%;
	padding-top:12%;
}
a:hover {
    background-color: red;
}
.wrapper h1{
	text-align: center;
	font-size:100px;
	font-style: oblique;
}

.wrapper {
	color:black;
	margin: auto;
  width: 70%;
  border: 3px white;
  text-align: center;
  border-radius: 25px;
	padding-right:50%;
}

.hangman {
	font-size:45px;
	text-align:center;
	font-style:oblique;

}

.register {

    background-color: lightgray;
    border-bottom-style: groove;
    border-bottom-right-radius: 120px;
    border-bottom-width: 58px;
    border-left-style: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    border-bottom-color: snow;

}
.form-group{
	font-size: 20px;
}

.form {
	display:block;
}

.form-control {
	color:white-space;
}

.tabela {
	color: white;
	text-align: center;
}

table, th, td {
    border: 5px solid white;
    color: #4e4a4a;
	border-collapse: collapse;
	border:outset;
	width:20px;
	height:30px;
	border color:snow;
}

.score {
	text-align: center;
	font-color: white
	color: white;
	padding-top:10px;
	padding-bottom:10px;
}
.score table  {
	border: 1px solid white;
	font-color: white;
	color: white;
	width:500px;
	height:50px;
}
.game {


}
/*Spacing for buttons to look better in responsive mode*/
.btn-info{
	margin: 5px 5px 5px 5px;
	font-size:50px;
}


/*Media Query for responsive part*/
@media screen and (max-width: 500px){
body {
	background:url('slika.jpg');
}

.wrapper {
	background-color:transparent;
	color:#403c36;
	margin: auto;
	margin-top: 30%;
    width: 50%;
    border: 3px #403c36;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    text-decoration: none;
}

.wrapper h1{
	text-align: center;
	font-size:10vw;

}
}

